nav {
  background-color: #ffffff;
  z-index: 1000;
}

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #75b49e;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.nav-logo {
  height: 30px;
  margin-top: 0px;
  cursor: pointer
}

.nav-item {
  margin: 5px;
  text-align: center;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }

a:hover {
  text-decoration: none;
  text-align: center;
}